<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Traveloka Clone</title>

  <!-- Global CSS -->
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background-color: #f5f5f5;
    }

    main {
        padding: 0; 
    }
  </style>

  <!-- External CSS (khuyến khích dùng sau này) -->
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>

<body>

  <!-- Header -->
  <%- include('../partials/header') %>
  

  <!-- Content -->
  <main>
    <%- body %>
  </main>

  <!-- Footer -->
  <%- include('../partials/footer') %>

</body>
</html>